table#menu {
margin: 98px 0px 20px;
padding: 5px;
background: #46461F url('a16.gif') repeat-x;
position: relative;
height: 53px;
width: 687px;
overflow: hidden;
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
display: block;
}
table#menu tr { padding: 5px; }
table#menu tr td {
margin: 0;
padding: 0;
line-height: 53px;
vertical-align: middle;
}
table#menu tr td a {
background-color: transparent;
background-repeat: repeat-x;
font-size: 15px;
text-align:center;
color: #FFF;
font-weight: bold;
width: 118px;
display:block;
text-decoration: none;
}
table#menu tr td a.active {width:192px;}
table#menu tr td a.active, table#menu tr td a:hover {
background: #FFF url('a18.gif') repeat-x scroll center top;
color: #4A4A24;
}
fieldset {border:none;}
table#menu tr td a div{}
/* ================================================================================ */
* {margin: 0px;padding: 0px;}
body {
background: #F9F9F9 url('a1.gif') repeat-x;
font-family: Verdana,Arial,Helvetica,sans-serif;
color: #8C8C73;
font-size:12px;
line-height:16px;
}
a {
color: #FF7800;
text-decoration: underline;
}
a:link,a:visited {text-decoration: none;}
a:hover {text-decoration: underline;}
h1,h2,h3 {font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;}
sup {font-size: 0.5em;}
address{
text-align: right;
font-size: 14px;
font-weight: bold;
font-stretch: wider;
font-family: "trebuchet ms",helvetica,sans-serif;
}
p {
margin-bottom: 14px;
text-align: justify;
}
img {
padding:2px;
margin:3px 3px 0px 3px;
border:1px solid #bbb;
}
#primarycontent ul {
list-style-type: none;
margin: 0 0 15px 25px;
font-family: "trebuchet ms",helvetica,sans-serif;
font-size:14px;
font-weight:bold;
}
.floatleft {float:left}
.floatright {float:right}
#upbg {
background: #FFF url('upbg.gif') no-repeat;
position: absolute;
top: 0px;
left: 0px;
width: 747px;
height: 264px;
z-index: 1;
}
#outer {
margin: -1px auto;
background: #FFF url('abg.gif') repeat-y;
position: relative;
width: 747px;
}
#inner {
padding: 13px 30px 0 30px;
position: relative;
z-index: 2;
}
#header {
background: #FF7800 url('a8.gif') repeat-x;
position: absolute;
width: 232px;
height: 92px;
color: #FFF;
padding-left: 20px;
}
#header h1 {
font-size:32px;
letter-spacing:-1px;
font-weight:bold;
margin-left:-7px;
margin-top:32px;
}
#header h1 a{
	color:#fff;
	font-size: 25px;
}
#header h2 {
color: #FCE2CA;
font-size:16px;
font-variant:small-caps;
margin:8px 0 0 20px;
}
#header sup {color: #FCE2CA;}
#splash {
background: #EAEAE2 url('panorama.jpg') no-repeat;
position: absolute;
right: 30px;
width: 428px;
height: 92px;
}
#primarycontent {
position: relative;
width: 480px;
float: left;
}
#primarycontent h1 {
padding: 0px 0px 10px 15px;
background: transparent url('a22.gif') repeat-x scroll center bottom;
position: relative;
top: 4px;
font-size: 18px;
line-height: 25px;
color: #656551;
letter-spacing: -1px;
margin-bottom: 20px;
}
#primarycontent .content {
padding: 0px 15px;
margin-bottom: 20px;
}
#primarycontent {margin-bottom: 5px;}
#primarycontent .header {position: relative;}
#primarycontent .content {margin-bottom: 0px;}
.footer {
background: transparent url('a33.gif') repeat-x;
}
.footer ul {
list-style-type: none;
list-style-image: none;
list-style-position: outside;
position: absolute;
right: 15px;
}
.footer ul li {
display: inline;
line-height: 14px;
padding-left: 17px;
margin-left: 25px;
background-repeat: no-repeat;
background-position: 0px 2px;
}
.footer ul li.printerfriendly {background-image: url('a41.gif');}
.footer ul li.comments {background-image: url('a36.gif');}
.footer ul li.readmore {background-image: url('a38.gif');}
#secondarycontent {
position: relative;
width: 180px;
float: right;
}
#secondarycontent h3 {
padding: 0px 0px 10px 10px;
background: transparent url('a22.gif') repeat-x scroll center bottom;
position: relative;
top: 4px;
font-size: 16px;
line-height: 25px;
color: #656551;
letter-spacing: -1px;
margin-bottom: 20px;
}
#secondarycontent .content {
padding: 0px 10px;
margin-bottom: 20px;
}
ul.linklist {
list-style-type: none;
list-style-image: none;
list-style-position: outside;
}
ul.linklist li {
border-bottom: 1px solid #EEE;
margin: 0;
padding-top: 4px;
}
#footer {
position: relative;
clear: both;
height: 16px;
text-align: center;
line-height: 16px;
background-image: url('a50.gif');
color: #A8A88D;
}
#footer a {color: #BBB;text-decoration: none;}
#footer a:hover {color: #FF7800;}

#lbOverlay {position: fixed;z-index: 9999;left: 0;top: 0;width: 100%;height: 100%;background-color: #000;cursor: pointer;}
#lbCenter, #lbBottomContainer {position: absolute;z-index: 9999;overflow: hidden;}
#lbCenter {background-color: #fff;}
.lbLoading {background: #fff url(loading.gif) no-repeat center;}
#lbImage {position: absolute;left: 0;top: 0;border: 1px solid #fff;background-repeat: no-repeat;}
#lbPrevLink, #lbNextLink {display: block;position: absolute;top: 0;width: 50%;outline: none;border: none;}
#lbPrevLink {left: 0;}
#lbPrevLink:hover {background: transparent url(prev.png) no-repeat 0 35%;}
#lbNextLink {right: 0;}
#lbNextLink:hover {background: transparent url(next.png) no-repeat 100% 35%;}
#lbBottom {border: 1px solid #fff;padding: 5px;border-top-style: none;}
#lbCloseLink {display: block;float: right;margin-top: 32px;outline: none;}
#lbCaption, #lbNumber {margin-right: 71px;}
#lbNumber {text-align:left;}
#lbCaption {color: #FFF;font-weight: bold;text-align: center;}
#lbCaption div {font-weight: normal;}
